<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Info. General</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="programa">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Programa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rrss">
      <ion-icon name="share-social-outline"></ion-icon>
      <ion-label>Redes Sociales</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>